body    {
          font-family: 'Lato', sans-serif;
          font-size: small;
          background-image: url(http://www.dreamtemplate.com/dreamcodes/bg_images/color/c14.jpg);
}
.header { background-color: #4B0082;
          color: white;
}
.wrapper {
    width: 600px;
    position: absolute;
    top:0;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 10px;
    margin-top:20px;
    margin-bottom:10px;   
	background: #fff;
}
section#left {
  float: left;
  width: 110px;
  padding-top:0px;
  margin-top:0px;
  margin-right: 10px;
}
section#right {
  width: 460px;
  float: left;
  padding-left: 10px;
  margin-top: 0px;
  padding-top:0px;
  border-left: 1px solid #d7dee3; 
}

footer {
    xborder: 1px black solid;
    margin-top: 15px; 
}
a:link {
    color: #4717F6; 
    font-weight: bold;
    text-decoration: none;
}

/* visited link */
a:visited { 
    color: #4717F6; 
    font-weight: bold;
    text-decoration: none;
}

/* mouse over link */
a:hover {  
    color: #4717F6; 
    font-weight: bold;
    text-decoration: underline;
}

/* selected link */
a:active {  
    color: #4717F6; 
    font-weight: bold;
    text-decoration: underline;
}

header h1 {
    padding: 2px; 
    margin: 2px; 
    background-color: #4B0082;
    color: #fff; 
}