

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/t85RP2zhSdDjt5PhsT_SnlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/lEjOv129Q3iN1tuqWOeRBgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {  font-size: small;
        font-family:Lato,sans-serif; background: #FFF;}
header p { margin-bottom: 5px;
           margin-top:0px; }
header h1 { margin-top: 0px; margin-bottom: 0px;
            color: #fff; background: #534576;}
header    { margin-top:10px;margin-bottom:0px;}
dt        {  margin: 1px; font-face: bold; background: pink;}
.right h1 {  padding-top:0px    }
.left  h1 {  padding-top:0px    }


                      

.paddingBetweenCols  td
{
    padding-left: 0px;
    margin-left: 0px;
    xborder-right: 1px dotted #534576;
    width: 125px;
    padding:0 60px 0 0px;
}

.wrapper {
    width: 600px;
    position: absolute;
    top:0;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;   
}
p#class0 {
    padding: 5px;
    background-color: #E6E4E4;
    margin: 0px;
}
p#class1 {
    padding: 5px;
    margin: 0px;
}
div#core {
  display: block;
  clear: both;
  margin-bottom: 5px;
}
section#left {
    
  float: left;
  width: 470px;
  
  margin-right: 10px;
}
section#right {
    
  width: 120px;
  float: left;
  margin: 0px;
  margin-top: 0px;
  xmargin-top: 40px;
}

footer {
    margin-top: 15px;
    xborder-top: thin dotted #534576;
}
  
/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
  
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
nav {
  display: block;
  margin-bottom: 10px;
}
nav ul {
  list-style: none;
  font-size: 14px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  display: block;
  float: left;
  padding: 3px 6px;
  color: #575c7d;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background: #deff90;
  color: #485e0f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0;
  text-decoration: none;
}
.alignleft { 
	margin-top:0px;
	padding-top:0px;
	float: left;
}
.alignright {
	margin-top:0px;
	padding-top:0px;
	float: right;
}
ul {  
  padding-left: 15px;
}

/* unvisited link */
a:link {
    color: #534576;
    font-weight: bold;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #534576;
        font-weight: bold;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #534576;
        font-weight: bold;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #534576;
    font-weight: bold;
    text-decoration: underline;
}
