
<div 
class="swatch1"><a href="{{site.baseurl}}/index">Home</a></div><div 
class="swatch2"><a href="{{site.baseurl}}/about">About me</a></div><div 
class="swatch1"><a href="http://goo.gl/BORLn4">Papers</a></div><div 
class="swatch2"><a href="{{site.baseurl}}/books">Books</a></div><div 
class="swatch1"><a href="{{site.baseurl}}/projects">Projects</a></div><div 
class="swatch2"><a href="{{site.baseurl}}/talks">Talks</a></div><div 
class="swatch1"><a href="http://helenburgess.com/">Helen</a></div>
