/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Elements */
* {
	color: #202020;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: white; mmm: #FECCBF; lll: #FE8080; zzz: #CCC; xxx: #707070;
	font-family: "Helvetica", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

#pale {
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right:0px;
}
hr{ margin-top:0px; margin-bottom:0px;padding:0px; 
    color: #CCC;
}

h1, h2, h3 {
	margin: 0;
	font-size: 30px;
  color: #4282A3;
	font-family: "Helvetica", Arial, Helvetica, sans-serif;
}


h4, h5, h6 {
}

p, ol, ul, dl, blockquote {
	margin-top: 0;
}

b {

}

a { 	text-decoration: none;
	color: #4282A3;
}

a:hover {
	text-decoration: underline;
	color: #52A3CC;
}
/*
a:visited a:hover {
  text-decoration: none;
  color: #66CCFF;
}
*/

#top  {
    color: #C30800;
    background-color: #C30800;
    height: 0.5px;
    padding:0px;
    border: none;
}
/* Wrapper */

#wrapper {
	width: 800px; 
	height: 100%;
	min-height: 100%;
	padding: 20px;
	margin: 0 auto; 
	margin-top: 5px;
	margin-bottom:5px;
	border: 1px solid #CCC;
}

html>body #wrapper {
	height: auto;
}

/* Header */


#header {
	width: 800px;
	height: 65px;
         padding-bottom: 3px;
	background:#C30800; xxx: 333333;
  font-size: 1em;
	color: #D0D0D0;
         padding-top: 0px;
}

#header h1 {
	float: left;
	padding: 10px 0 0 15px;
	padding:0px; maring:0px;
	padding-top: 0px;
        margin-top:0px;         
	font-size: 2.5em;
	#padding-top: -5px;
	#padding-right: 10px;
	margin-top: 5px;
	letter-spacing: -2px;
  color: #FFFFFF;
}

#header h2 {
	float: right;
	padding: 10px 20px 0 0;
	font-size: 1.25em;
	letter-spacing: -1px;
}

#header table, #header th, #header td {
  font-size: 1.05em;
  color: #D0D0D0;
}
#header b {
  color: #F8F8F8;
}

#header a {
	text-decoration: none;
}

/* Menu */

#menu {
	width: 800px;
	height: 33px;
	padding-top: 10px;
        background:#dddddd;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 120px;
	height: 14px;
	padding: 3px 4px 0 4px;
  font-size: 1.1em;
  text-align: center;
	text-decoration: none;
}

#menu .active a, #menu a:hover {
	color: #3366FF;
}

/* Content */

#content {
	width: 760px;
	background: #FFFFFF; 
  padding-top: 0px;
	padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  line-spacing: 90%;
}

#content h1 { text-transform: uppercase;}
#content h2 {
    font-size: 25px;
	margin-bottom: 1em;
}

#content h3 {
    border-top: 1px #4282A3 solid;
    font-size: 20px;
  font-size:1.25em;
	margin-bottom: 0.25em;
}

#content ul {
  padding-bottom: 5px;
}

#pad  {
  float: right;
  margin-left: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

#colOne {
	float: right;
	width: 500px;
	padding: 20px 20px 0 20px;
}

#colTwo {
	float: left;
	width: 180px;
	padding: 20px 20px 0 20px;
}

#colTwo ul {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

/* Footer */

#footer {
	width: 800px;
}

#footer p {
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
	font-size: small;
  color: #FFFFFF
}


.firstcharacter { float: left; 
xcolor: white;
color: #C30800; 
font-size: 55px; line-height: 35px; 
xmargin-left: 30px;
padding-top: 4px; 
padding-right: 3px; 
margin-right: 1px;
padding-bottom: 20px;
padding-left: 3px;  font-family: 'Marck Script',cursive; }



#a  { background-color: #FF9900; width: 21; height:21; padding:0px; margin-left:1px;}
#d  { background-color: #2281CF; width: 21; height:21; padding:0px; margin-left:1px;}
#f  { background-color: #3B5998; width: 21; height:21; padding:0px; margin-left:1px; margin-right:1px;}
#gi { background-color: #4183C4; width: 21; height:21; padding:0px; margin-left:1px;}
#go { background-color: #5A471B; width: 21; height:21; padding:0px; margin-left:1px;}
#i  { background-color: #996699; width: 21; height:21; padding:0px; margin-left:1px;}
#j  { background-color: #993399; width: 21; height:21; padding:0px; margin-left:1px;}
#k  { background-color: #990099; width: 21; height:21; padding:0px; margin-left:1px;}
#la { background-color: #D51007; width: 21; height:21; padding:0px; margin-left:1px;}
#li { background-color: #007FB1; width: 21; height:21; padding:0px; margin-left:1px;}
#n  { background-color: #CC6699; width: 21; height:21; padding:0px; margin-left:1px;}
#o  { background-color: #CC9999; width: 21; height:21; padding:0px; margin-left:1px;}
#p  { background-color: #CB2027; width: 21; height:21; padding:0px; margin-left:1px;}
#q  { background-color: #A82300; width: 21; height:21; padding:0px; margin-left:1px;}
#sl { BACKGROUND-COLOR: #009999; width: 21; height:21; padding:0px; margin-left:1px;}
#st { BACKGROUND-COLOR: #F47920; width: 21; height:21; padding:0px; margin-left:1px;}
#t  { BACKGROUND-COLOR: #00ACED; width: 21; height:21; padding:0px; margin-left:1px;}
#y  { background-color: #CD332D; width: 21; height:21; padding:0px; margin-left:1px;}

#xheaderx img {  width=32; padding:0; margin:0px;margin-top: 10px; background-color: #C30800;}

#header {color:white; font-size: 1.1em;}

.label1 {
    background: none repeat scroll #009999;
    border-radius: 1px;
    margin: 1px;
    font-weight: bold;
    color: #EEE;
    padding: 1px 1px;
    font-family: Inconsolata,Consolas,"Courier New",monospace;
    white-space: nowrap;
    xmargin-top: 100px;
}
.label2 {
    background: none repeat scroll  #ED872D;
    border-radius: 1px;
    margin: 1px;
    font-weight: bold;
    color: #EEE;
    padding: 1px 1px;
    font-family: Inconsolata,Consolas,"Courier New",monospace;
    white-space: nowrap;
}
dt { float: left; width: 65px; }
dd { margin-left: 65px; }
